<div class="page">
  <div class="page-header">
    <div class="page-header-content">
      <img src="/assets/images/logos/CopeLogo-07.png" alt="Cope Equities">
      <hr/>
    </div>
  </div>
  <div class="content-container">
    <div class="content-section-header">
      <a href="/assets/sales.pdf"><h2>
        Successful Exits
      </h2></a>
    </div>
    <div class="content-section-header">
      <a href="/assets/vestingtree.pdf"><h2>
        Vesting Tree
      </h2></a>
    </div>
    <div class="content-section-header">
      <a href="/assets/growth.pdf"><h2>
        Sales Growth
      </h2></a>
    </div>
    <div class="content-section-header">
      <a href="/2673/relationships"><h2>
        Relationships
      </h2></a>
    </div>
  </div>
</div>
