<div class="page">
  <div class="page-header">
    <h1 class="page-header-content">Design your dream home with us</h1>
  </div>
  <form class="selection-form" action="index.html" method="post">
    <p>Select your favorite options then submit your choices and Jose Espitia will contact you. This is an expression of interest, not a legally binding contract. If you have any questions, please feel free to contact Jose at <a href="tel:2144257840">214.425.7840</a>.</p>
    <section id="plat">
      <div class="section-header" style="padding-top: 0px;"><h2>Choose your homesite: </h2><h2 id="lot-selection"></h2></div>
      <div class="section">
        <div class="plat-container">
          <img  class="plat" src="/assets/images/plats/ca8.png" alt="Patriot Place">
          <svg class='svg' fill='transparent' id='svg8' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 638.22 1834.67' cursor="pointer">
            <rect class='home-for-sale' width='173.33' height='157.33' alt='lot 1-1' (click)="plat8('1-1', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='186.67' y='5.33' width='122.67' height='152' alt='lot 1-2' (click)="plat8('1-2', 0)"><title>Home for sale</title></rect>
            <polygon class='home-for-sale' points='321.78 6.22 513.78 8 404.44 139.56 375.11 159.11 321.78 159.11 321.78 6.22' alt='lot 1-3' (click)="plat8('1-3', 0)"><title>Home for sale</title></polygon>
            <polygon class='home-for-sale' points='528 9.78 630.22 11.56 631.11 87.11 452.44 178.67 417.78 140.44 528 9.78' alt='lot 1-4' (click)="plat8('1-4', 0)"><title>Home for sale</title></polygon>
            <polygon class='home-for-sale' points='447.11 194.67 631.11 99.56 631.11 247.11 433.78 245.33 432.89 214.22 447.11 194.67' alt='lot 1-5' (click)="plat8('1-5', 0)"><title>Home for sale</title></polygon>
            <rect class='home-for-sale' x='430.22' y='259.56' width='200' height='95.11' alt='lot 1-6' (click)="plat8('1-6', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='432' y='369.78' width='198.22' height='91.56' alt='lot 1-7' (click)="plat8('1-7', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='431.11' y='477.33' width='201.78' height='94.22' alt='lot 1-8' (click)="plat8('1-8', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='431.11' y='584.89' width='201.78' height='96' alt='lot 1-9' (click)="plat8('1-9', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='434.67' y='693.33' width='196.44' height='92.44' alt='lot 1-10' (click)="plat8('1-10', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='432.89' y='799.11' width='202.67' height='95.11' alt='lot 1-11' (click)="plat8('1-11', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='433.78' y='908.44' width='201.78' height='93.33' alt='lot 1-12' (click)="plat8('1-12', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='433.78' y='1016' width='200.89' height='93.33' alt='lot 1-13' (click)="plat8('1-13', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='434.67' y='1124.44' width='200' height='92.44' alt='lot 1-14' (click)="plat8('1-14', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='434.67' y='1232.89' width='200' height='94.22' alt='lot 1-15' (click)="plat8('1-15', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='435.56' y='1338.67' width='200.89' height='95.11' alt='lot 1-16' (click)="plat8('1-16', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='435.56' y='1449.78' width='200.89' height='93.33' alt='lot 1-17' (click)="plat8('1-17', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='435.56' y='1555.56' width='201.78' height='95.11' alt='lot 1-18' (click)="plat8('1-18', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='436.44' y='1664' width='200.89' height='165.33' alt='lot 1-19' (click)="plat8('1-19', 1500)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='6.22' y='1347.56' width='120' height='170.67' alt='lot 2-1' (click)="plat8('2-1', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='137.78' y='1349.33' width='118.22' height='170.67' alt='lot 2-2' (click)="plat8('2-2', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='267.56' y='1347.56' width='121.78' height='172.44' alt='lot 2-3' (click)="plat8('2-3', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='176.89' y='1531.56' width='213.33' height='90.67' alt='lot 2-4' (click)="plat8('2-4', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='176' y='1638.22' width='215.11' height='92.44' alt='lot 2-5' (click)="plat8('2-5', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='177.78' y='1744' width='214.22' height='87.11' alt='lot 2-6' (click)="plat8('2-6', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='5.33' y='1689.78' width='162.67' height='142.22' alt='lot 2-7' (click)="plat8('2-7', 3000)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='7.11' y='1533.33' width='160' height='144.89' alt='lot 2-8' (click)="plat8('2-8', 3000)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='4.44' y='965.33' width='121.78' height='162.67' alt='lot 3-1' (click)="plat8('3-1', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='136' y='963.56' width='120' height='164.44' alt='lot 3-2' (click)="plat8('3-2', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='267.56' y='962.67' width='120.89' height='162.67' alt='lot 3-3' (click)="plat8('3-3', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='5.33' y='1140.44' width='120' height='161.78' alt='lot 3-4' (click)="plat8('3-4', 0)"><title>Home for sale</title></rect>
            <rect class='sold' x='136.89' y='1138.67' width='118.22' height='161.78' alt='lot 3-5' cursor="default"><title>SOLD</title></rect>
            <rect class='home-for-sale' x='268.44' y='1136.89' width='119.11' height='163.56' alt='lot 3-6' (click)="plat8('3-6', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='4.44' y='585.78' width='120' height='159.11' alt='lot 4-1' (click)="plat8('4-1', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='133.33' y='584.89' width='120.89' height='159.11' alt='lot 4-2' (click)="plat8('4-2', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='263.11' y='584' width='121.78' height='155.56' alt='lot 4-3' (click)="plat8('4-3', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='1.78' y='758.22' width='123.56' height='159.11' alt='lot 4-4' (click)="plat8('4-4', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='132.44' y='758.22' width='122.67' height='159.11' alt='lot 4-5' (click)="plat8('4-5', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='264' y='757.33' width='122.67' height='160.89' alt='lot 4-6' (click)="plat8('4-6', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='0.89' y='203.56' width='120' height='159.11' alt='lot 5-1' (click)="plat8('5-1', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='130.67' y='201.78' width='123.56' height='163.56' alt='lot 5-2' (click)="plat8('5-2', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='264' y='204.44' width='121.78' height='158.22' alt='lot 5-3' (click)="plat8('5-3', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='3.56' y='378.67' width='118.22' height='160' alt='lot 5-4' (click)="plat8('5-4', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='134.22' y='377.78' width='119.11' height='160' alt='lot 5-5' (click)="plat8('5-5', 0)"><title>Home for sale</title></rect>
            <rect class='home-for-sale' x='264' y='376' width='123.56' height='160.89' alt='lot 5-6' (click)="plat8('5-6', 0)"><title>Home for sale</title></rect>
          </svg>
        </div>
      </div>
      <p id="lot-price" class="right"></p>
    </section>
    <section id="model" class="hidden">
      <div class="section-header"><h2>Choose your home model:</h2></div>
      <div class="section">
        <label for="williamsburg" class="option"><input (click)="wModel()" class="radio" type="radio" name="model" value="williamsburg" id="williamsburg">The Williamsburg<img class="option-img" src="/assets/images/ca7/absolute value.jpg" alt="The Williamsburg"></label>
        <label for="concord" class="option"><input (click)="cModel()" class="radio" type="radio" name="model" value="concord" id="concord">The Concord<img class="option-img" src="/assets/images/ca7/Choice.jpg" alt="The Concord"></label>
        <label for="richmond" class="option"><input (click)="rModel()" class="radio" type="radio" name="model" value="richmond" id="richmond">The Richmond<img class="option-img" src="/assets/images/ca7/Sundowner.jpg" alt="The Richmond"></label>
        <label for="deerfield" class="option"><input (click)="dModel()" class="radio" type="radio" name="model" value="deerfield" id="deerfield">The Deerfield<img class="option-img" src="/assets/images/ca7/pt-78.jpg" alt="The Deerfield"></label>
      </div>
      <p id="model-price" class="right"></p>
    </section>
    <section id="floorplan" class="hidden">
      <div class="section-header"><h2>Upgrade your floorplan:</h2></div>
      <div class="section hidden" id="williamsburg-upgrades">
        <label for="standard-williamsburg" class="option"><input (click)="wFloorplan(0)" class="radio" type="radio" name="williamsburgUpgrade" value="standard floorplan" id="standard-williamsburg">Standard Floorplan<img class="option-img square" src="/assets/images/houses/manufactured/williamsburg/WilliamsburgFP-standard.jpg" alt="Standard floorplan"></label>
        <label for="study-williamsburg" class="option"><input (click)="wFloorplan(400)" class="radio" type="radio" name="williamsburgUpgrade" value="study" id="study-williamsburg">Study upgrade<img class="option-img square" src="/assets/images/houses/manufactured/williamsburg/WilliamsburgFP-study.jpg" alt="Study upgrade"></label>
        <label for="add-bed-williamsburg" class="option"><input (click)="wFloorplan(1000)" class="radio" type="radio" name="williamsburgUpgrade" value="additional bed" id="add-bed-williamsburg">Additional bedroom upgrade<img class="option-img square" src="/assets/images/houses/manufactured/williamsburg/WilliamsburgFP-bed5.jpg" alt="Additional bed upgrade"></label>
        <label for="alt-den-williamsburg" class="option"><input (click)="wFloorplan(400)" class="radio" type="radio" name="williamsburgUpgrade" value="alternative den floorplan" id="alt-den-williamsburg">Alternative den upgrade<img class="option-img square" src="/assets/images/houses/manufactured/williamsburg/WilliamsburgFP-den.jpg" alt="Alternative den upgrade"></label>
      </div>
      <div class="section hidden" id="concord-upgrades">
        <label for="standard-concord" class="option"><input (click)="cFloorplan(0)" class="radio" type="radio" name="concordUpgrade" value="standard floorplan" id="standard-concord">Standard Floorplan<img class="option-img square" src="/assets/images/houses/manufactured/concord/ConcordFP-standard.jpg" alt="Standard floorplan"></label>
        <label for="study-concord" class="option"><input (click)="cFloorplan(400)" class="radio" type="radio" name="concordUpgrade" value="study" id="study-concord">Study upgrade<img class="option-img square" src="/assets/images/houses/manufactured/concord/ConcordFP-study.jpg" alt="Study upgrade"></label>
        <label for="add-bed-concord" class="option"><input (click)="cFloorplan(1000)" class="radio" type="radio" name="concordUpgrade" value="additional bed" id="add-bed-concord">Additional bedroom upgrade<img class="option-img square" src="/assets/images/houses/manufactured/concord/ConcordFP-bed5.jpg" alt="Additional bed upgrade"></label>
        </div>
      <div class="section hidden" id="richmond-upgrades">
        <label for="standard-richmond" class="option"><input (click)="rFloorplan(0)" class="radio" type="radio" name="richmondUpgrade" value="standard floorplan" id="standard-richmond">Standard Floorplan<img class="option-img square" src="/assets/images/houses/manufactured/richmond/RichmondFP-standard.jpg" alt="Standard floorplan"></label>
        <label for="study-richmond" class="option"><input (click)="rFloorplan(400)" class="radio" type="radio" name="richmondUpgrade" value="study" id="study-richmond">Study upgrade<img class="option-img square" src="/assets/images/houses/manufactured/richmond/RichmondFP-study.jpg" alt="Study upgrade"></label>
        <label for="add-bed-richmond" class="option"><input (click)="rFloorplan(1000)" class="radio" type="radio" name="richmondUpgrade" value="additional bed" id="add-bed-richmond">Additional bedroom upgrade<img class="option-img square" src="/assets/images/houses/manufactured/richmond/RichmondFP-bed4.jpg" alt="Additional bed upgrade"></label>
        </div>
      <div class="section hidden" id="deerfield-upgrades">
        <label for="standard-deerfield" class="option"><input (click)="dFloorplan(0)" class="radio" type="radio" name="deerfieldUpgrade" value="standard floorplan" id="standard-deerfield">Standard Floorplan<img class="option-img square" src="/assets/images/houses/manufactured/deerfield/DeerfieldFP-standard.jpg" alt="Standard floorplan"></label>
      </div>
      <p id="plan-price" class="right"></p>
    </section>
    <section id="trim" class="hidden">
      <div class="section-header"><h2>Choose your home trim:</h2></div>
      <div class="section hidden" id="williamsburg-trim">
        <label for="horizontal-stripe-williamsburg" class="option"><input (click)="trim()" class="radio" type="radio" name="williamsburg" value="horizontal stripe" id="horizontal-stripe-williamsburg">Horizontal stripe<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el1 beige blue.jpg" alt="Horizontal stripe"></label>
        <label for="gable-bracket-williamsburg" class="option"><input (click)="trim()" class="radio" type="radio" name="williamsburg" value="gable bracket" id="gable-bracket-williamsburg">Gable bracket<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el2 beige blue.jpg" alt="Gable bracket"></label>
        <label for="triple-gable-williamsburg" class="option"><input (click)="trim()" class="radio" type="radio" name="williamsburg" value="triple gable" id="triple-gable-williamsburg">Double gable<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 beige blue.jpg" alt="Double gable"></label>
      </div>
      <div class="section hidden" id="concord-trim">
        <label for="gable-bracket-concord" class="option"><input (click)="trim()" class="radio" type="radio" name="concord" value="gable bracket" id="gable-bracket-concord">Gable bracket<img class="option-img" src="/assets/images/houses/manufactured/concord/Choice Exterior Option 2.png" alt="Gable bracket"></label>
        <label for="double-gable-concord" class="option"><input (click)="trim()" class="radio" type="radio" name="concord" value="double gable" id="double-gable-concord">Double gable<img class="option-img" src="/assets/images/houses/manufactured/concord/Choice Exterior Option 1.png" alt="Double gable"></label>
      </div>
      <div class="section hidden" id="richmond-trim">
        <label for="single-gable-richmond" class="option"><input (click)="trim()" class="radio" type="radio" name="richmond" value="single gable" id="single-gable-richmond">Single gable<img class="option-img" src="/assets/images/houses/manufactured/richmond/Sundowner Exterior 1.png" alt="Gable bracket"></label>
        <label for="double-gable-richmond" class="option"><input (click)="trim()" class="radio" type="radio" name="richmond" value="double gable" id="double-gable-richmond">Double gable<img class="option-img" src="/assets/images/houses/manufactured/richmond/Sundowner Exterior 2.png" alt="Double gable"></label>
      </div>
      <div class="section hidden" id="deerfield-trim">
        <label for="single-gable-deerfield" class="option"><input (click)="trim()" class="radio" type="radio" name="deerfield" value="single gable" id="single-gable-deerfield">Single gable<img class="option-img" src="/assets/images/houses/manufactured/deerfield/PT-78 Exterior 1.jpg" alt="Gable bracket"></label>
        <label for="double-gable-deerfield" class="option"><input (click)="trim()" class="radio" type="radio" name="deerfield" value="double gable" id="double-gable-deerfield">Double gable<img class="option-img" src="/assets/images/houses/manufactured/deerfield/PT-78 Exterior 2.jpg" alt="Double gable"></label>
      </div>
      <p id="trim-price" class="right"></p>
    </section>
    <section id="ext-color" class="hidden">
      <div class="section-header"><h2>Choose your home colors:</h2></div>
      <div class="section">
        <label for="beige-blue" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="beige blue" id="beige-blue">Beige/Blue<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 beige blue-01.jpg" alt="Beige/Blue"></label>
        <label for="beige-gray" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="beige gray" id="beige-gray">Beige/Gray<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 beige gray-01.jpg" alt="Beige/Gray"></label>
        <label for="brown-green" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="brown green" id="brown-green">Brown/Green<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 brown green-01.jpg" alt="Brown/Green"></label>
        <label for="gray-red" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="gray red" id="gray-red">Gray/Red<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 gray red-01.jpg" alt="Gray/Red"></label>
        <label for="tan-brown" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="tan brown" id="tan-brown">Tan/Brown<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 tan brown-01.jpg" alt="Tan/Brown"></label>
      </div>
      <p id="ext-price" class="right"></p>
    </section>
    <section id="skirt" class="hidden">
      <div class="section-header"><h2>Choose your home's skirt:</h2></div>
      <div class="section">
        <label for="brown-skirt" class="option"><input (click)="skirt()" class="radio" type="radio" name="skirt" value="brown skirt" id="brown-skirt">Brown faux-brick house skirt<img class="option-img" src="/assets/images/houses/manufactured/brown brick skirt.JPG" alt="brown skirt"></label>
        <label for="red-skirt" class="option"><input (click)="skirt()" class="radio" type="radio" name="skirt" value="red skirt" id="red-skirt">Red faux-brick house skirt<img class="option-img" src="/assets/images/houses/manufactured/red brick skirt.JPG" alt="red skirt"></label>
      </div>
      <p id="skirt-price" class="right"></p>
    </section>
    <section id="front-door" class="hidden">
      <div class="section-header"><h2>Upgrade your front door: </h2></div>
      <div class="section">
        <label for="standard-door" class="option"><input (click)="extDoor(0)" class="radio" type="radio" name="front-door" value="standard door" id="standard-door">Standard door<img class="option-img" src="/assets/images/houses/manufactured/standard_door.jpg" alt="standard door"></label>
        <label for="artisan-door" class="option"><input (click)="extDoor(700)" class="radio" type="radio" name="front-door" value="artisan door" id="artisan-door">Artisan door<img class="option-img" src="/assets/images/houses/manufactured/artisan_door.jpg" alt="artisan door"></label>
      </div>
      <p id="door-price" class="right"></p>
    </section>
    <section id="deck" class="hidden">
      <div class="section-header"><h2>Upgrade your back deck:</h2></div>
      <div class="section">
        <label for="standard-deck" class="option"><input (click)="deck(0)" class="radio" type="radio" name="deck" value="standard deck" id="standard-deck">4' x 4' standard deck<img class="option-img" src="/assets/images/houses/manufactured/small_deck.jpg" alt="standard deck"></label>
        <label for="large-deck" class="option"><input (click)="deck(1800)" class="radio" type="radio" name="deck" value="large deck" id="large-deck">12' x 12' deck<img class="option-img" src="/assets/images/houses/manufactured/large_deck.jpeg" alt="large deck"></label>
      </div>
      <p id="deck-price" class="right"></p>
    </section>
    <section id="int-color" class="hidden">
      <div class="section-header"><h2>Choose your interior colors:</h2></div>
      <div class="section">
        <label for="kitchen-white" class="option"><input (click)="intColor()" class="radio" type="radio" name="int-color" value="white kitchen" id="kitchen-white">White kitchen<img class="option-img" src="/assets/images/houses/manufactured/kitchen_white.jpg" alt="white kitchen"></label>
        <label for="kitchen-dark" class="option"><input (click)="intColor()" class="radio" type="radio" name="int-color" value="dark kitchen" id="kitchen-dark">Dark kitchen<img class="option-img" src="/assets/images/houses/manufactured/kitchen_dark.jpg" alt="dark kitchen"></label>
        <label for="kitchen-light" class="option"><input (click)="intColor()" class="radio" type="radio" name="int-color" value="light kitchen" id="kitchen-light">Light kitchen<img class="option-img" src="/assets/images/houses/manufactured/kitchen_light.jpg" alt="light kitchen"></label>
      </div>
      <p id="int-price" class="right"></p>
    </section>
    <section id="kitchen" class="hidden">
      <div class="section-header"><h2>Upgrade your kitchen:</h2></div>
      <div class="section">
        <label for="premium-kitchen" class="option"><input (click)="appliances(0)" class="radio" type="radio" name="appliances" value="premium kitchen" id="premium-kitchen">Premium kitchen<img class="option-img" src="/assets/images/houses/manufactured/black_appliances.jpg" alt="premium kitchen">18 cubic foot refrigerator with ice maker<br/>30" coil-top electric range<br/>Standard built-in dishwasher<br/>Microwave over range</label>
        <label for="dream-kitchen-black" class="option"><input (click)="appliances(1200)" class="radio" type="radio" name="appliances" value="dream kitchen black" id="dream-kitchen-black">Dream kitchen in black<img class="option-img" src="/assets/images/houses/manufactured/dream_kitchen_black.jpg" alt="dream kitchen in black">26 cubic foot side-by-side refrigerator with water and ice in door<br/>30" smooth-top elecric range<br/>Standard build-in dishwasher<br/>Microwave over range</label>
        <label for="dream-kitchen-steel" class="option"><input (click)="appliances(2000)" class="radio" type="radio" name="appliances" value="dream kitchen in stainless steel" id="dream-kitchen-steel">Dream kitchen in stainless steel<img class="option-img" src="/assets/images/houses/manufactured/steel_appliances.jpg" alt="dream kitchen in stainless steel">26 cubic foot side-by-side refrigerator with water and ice in door<br/>30" smooth-top elecric range<br/>Standard build-in dishwasher<br/>Microwave over range</label>
      </div>
      <p id="appliance-price" class="right"></p>
    </section>
    <section id="sink" class="hidden">
      <div class="section-header"><h2>Choose your kitchen sink color:</h2></div>
      <div class="section">
        <label for="black-sink" class="option"><input (click)="sink()" class="radio" type="radio" name="sink" value="black sink" id="black-sink">Black farmhouse kitchen sink<img class="option-img" src="/assets/images/houses/manufactured/black_sink.jpg" alt="black sink"></label>
        <label for="white-sink" class="option"><input (click)="sink()" class="radio" type="radio" name="sink" value="white sink" id="white-sink">White farmhouse kitchen sink<img class="option-img" src="/assets/images/houses/manufactured/white_sink.jpg" alt="white sink"></label>
      </div>
      <p id="sink-price" class="right"></p>
    </section>
    <section id="flooring" class="hidden">
      <div class="section-header"><h2>Upgrade your bedroom floors: </h2></div>
      <div class="section">
        <label for="carpet" class="option"><input (click)="flooring(0)" class="radio" type="radio" name="flooring" value="carpet" id="carpet">Carpet<img class="option-img" src="/assets/images/houses/manufactured/carpet.jpg" alt="carpet"></label>
        <label for="wood" class="option"><input (click)="flooring(500)" class="radio" type="radio" name="flooring" value="wood-look vinyl" id="wood">Wood-look vinyl<img class="option-img" src="/assets/images/houses/manufactured/wood_vinyl.jpg" alt="Wood-look vinly">color depends on interior color package</label>
      </div>
      <p id="floor-price" class="right"></p>
    </section>
    <section id="insulation" class="hidden">
      <div class="section-header"><h2>Upgrade your insulation:</h2></div>
      <div class="section">
        <label for="standard-insulation" class="option"><input (click)="insulation(0)" class="radio" type="radio" name="insulation" value="standard insulation" id="standard-insulation"><div class="option-text">Standard insulation<hr/><br/>R-11 floor insulation<br/>R-11 wall insulation<br/>R-21 ceiling insulation</div></label>
        <label for="premium-insulation" class="option"><input (click)="insulation(1000)" class="radio" type="radio" name="insulation" value="premium insulation" id="premium-insulation"><div class="option-text">Premium insulation<hr/><br/>R-22 floor insulation<br/>R-11 wall insulation<br/>R-33 ceiling insulation</div></label>
      </div>
      <p id="insulation-price" class="right"></p>
    </section>
    <section id="garage" class="hidden">
      <div class="section-header"><h2>Add a garage:</h2></div>
      <div class="section">
        <label for="no-garage" class="option"><input (click)="garage(0)" class="radio" type="radio" name="garage" value="no garage" id="no-garage"><div class="option-text">No garage</div></label>
        <label for="incl-garage" class="option"><input (click)="garage(15000)" class="radio" type="radio" name="garage" value="including garage" id="incl-garage">Garage<img class="option-img" src="/assets/images/houses/manufactured/garage.jpg" alt="garage">24' x 41'<br/>Two garage doors<br/>One pedestrian door<br/>Two windows</label>
      </div>
      <p id="garage-price" class="right"></p>
    </section>
    <section id="shed" class="hidden">
      <div class="section-header"><h2>Add a shed:</h2></div>
      <div class="section">
        <label for="no-shed" class="option"><input (click)="shed(0)" class="radio" type="radio" name="shed" value="no shed" id="no-shed"><div class="option-text">No shed</div></label>
        <label for="incl-shed" class="option"><input (click)="shed(3700)" class="radio" type="radio" name="shed" value="including shed" id="incl-shed">Shed<img class="option-img" src="/assets/images/houses/manufactured/shed.jpg" alt="shed">10' x 12'</label>
      </div>
      <p id="shed-price" class="right"></p>
    </section>
    <section id="yard" class="hidden">
      <div class="section-header"><h2>Upgrade your lawn:</h2></div>
      <div class="section">
        <label for="seed" class="option"><input (click)="yard(0)" class="radio" type="radio" name="yard" value="seed" id="seed"><div class="option-text">Seeded yard around house</div></label>
        <label for="sod" class="option"><input (click)="yard(1750)" class="radio" type="radio" name="yard" value="sod" id="sod"><div class="option-text">Sod<hr/><br/>20' back yard<br/>10' side yard<br/>front to street</div></label>
      </div>
      <p id="yard-price" class="right"></p>
    </section>
    <section id="flower-beds" class="hidden">
      <div class="section-header"><h2>Add a flower bed:</h2></div>
      <div class="section">
        <label for="no-flowers" class="option"><input (click)="flower(0)" class="radio" type="radio" name="flower" value="no flowers" id="no-flowers"><div class="option-text">No flower bed</div></label>
        <label for="incl-flowers" class="option"><input (click)="flower(3750)" class="radio" type="radio" name="flower" value="including flower bed" id="incl-flowers">Flower bed<img class="option-img" src="/assets/images/houses/manufactured/flowers.jpg" alt="flower bed">Both sides of front steps<br/>includes plants, 2 trees, and stone borders</label>
      </div>
      <p id="flower-price" class="right"></p>
    </section>
    <section id="sprinkler" class="hidden">
      <div class="section-header"><h2>Add a sprinkler system:</h2></div>
      <div class="section">
        <label for="no-sprinkler" class="option"><input (click)="sprinkler(0)" class="radio" type="radio" name="sprinkler" value="no sprinkler" id="no-sprinkler"><div class="option-text">No sprinkler</div></label>
        <label for="incl-sprinkler" class="option"><input (click)="sprinkler(3500)" class="radio" type="radio" name="sprinkler" value="incl sprinkler" id="incl-sprinkler"><div class="option-text">Sprinkler system</div></label>
      </div>
      <p id="sprinkler-price" class="right"></p>
    </section>

    <section id="result">
      <h2 id="total">Total: <span></span></h2>
      <div class="centered">
        <button type="submit" name="button" id="submit" disabled="true">Submit</button>
      </div>
    </section>
  </form>


  <div class="iframe-container" (click)="display= false;" *ngIf="display">
    <div class="iframe" id="iframe">
      <button name="close" (click)="display= false;" class="iframe-button">x</button>
      <iframe name="iframe" scrolling="no" onload="var f = this.contentWindow.document.body.scrollHeight; this.height=f+'px';"></iframe>
    </div>
  </div>

</div>
