<div class="page">
  <div class="page-header">
    <h1 class="page-header-content">Design your dream home with us</h1>
  </div>
  <form class="selection-form" action="index.html" method="post">
    <section id="development">
      <h2>Choose your neighborhood:</h2>
      <div class="section">
        <label for="patriot-place" class="option"><input (click)="development(139000); dev8();" class="radio" type="radio" name="development" value="patriot place" id="patriot-place">Princeton, Texas<img class="option-logo" id="patriot-place-logo" src="/assets/images/logos/patriotplace.png" alt="Patriot Place"><a href="https://www.google.com/maps/d/embed?mid=1UCoFUVlrDk2vQk4tRC5vDe4mTR9rHq2z&ll=33.077336067957575%2C-96.50177832646119&z=15" target="_blank"><button class="option-details" type="button" name="button">View Map</button></a></label>
        <label for="providence-point" class="option"><input (click)="development(119000);dev7();" class="radio" type="radio" name="development" value="providence point" id="providence-point">Nevada, Texas<img class="option-logo" id="providence-point-logo" src="/assets/images/logos/providencepoint.png" alt="Providence Point"><a href="https://www.google.com/maps/d/embed?mid=1UCoFUVlrDk2vQk4tRC5vDe4mTR9rHq2z&ll=33.10746258500599%2C-96.37107526542684&z=13" target="_blank"><button class="option-details" type="button" name="button">View Map</button></a></label>
      </div>
    </section>
    <section id="lot" class="hidden">
      <div id="plat8" class="hidden">
        <h2>Choose your homesite: <span id="lot-selection8"></span><span id="lot-price8" class="right"></span></h2>
        <div class="section">
          <div class="plat-container">
            <img  class="plat" src="/assets/images/plats/ca8.png" alt="Patriot Place">
            <svg class='svg' fill='transparent' id='svg8' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 638.22 1834.67' cursor="pointer">
              <rect class='home-for-sale' width='173.33' height='157.33' alt='lot 1-1' (click)="plat8('1-1', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='186.67' y='5.33' width='122.67' height='152' alt='lot 1-2' (click)="plat8('1-2', 0)"><title>Home for sale</title></rect>
              <polygon class='home-for-sale' points='321.78 6.22 513.78 8 404.44 139.56 375.11 159.11 321.78 159.11 321.78 6.22' alt='lot 1-3' (click)="plat8('1-3', 0)"><title>Home for sale</title></polygon>
              <polygon class='home-for-sale' points='528 9.78 630.22 11.56 631.11 87.11 452.44 178.67 417.78 140.44 528 9.78' alt='lot 1-4' (click)="plat8('1-4', 0)"><title>Home for sale</title></polygon>
              <polygon class='home-for-sale' points='447.11 194.67 631.11 99.56 631.11 247.11 433.78 245.33 432.89 214.22 447.11 194.67' alt='lot 1-5' (click)="plat8('1-5', 0)"><title>Home for sale</title></polygon>
              <rect class='home-for-sale' x='430.22' y='259.56' width='200' height='95.11' alt='lot 1-6' (click)="plat8('1-6', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='432' y='369.78' width='198.22' height='91.56' alt='lot 1-7' (click)="plat8('1-7', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='431.11' y='477.33' width='201.78' height='94.22' alt='lot 1-8' (click)="plat8('1-8', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='431.11' y='584.89' width='201.78' height='96' alt='lot 1-9' (click)="plat8('1-9', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='434.67' y='693.33' width='196.44' height='92.44' alt='lot 1-10' (click)="plat8('1-10', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='432.89' y='799.11' width='202.67' height='95.11' alt='lot 1-11' (click)="plat8('1-11', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='433.78' y='908.44' width='201.78' height='93.33' alt='lot 1-12' (click)="plat8('1-12', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='433.78' y='1016' width='200.89' height='93.33' alt='lot 1-13' (click)="plat8('1-13', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='434.67' y='1124.44' width='200' height='92.44' alt='lot 1-14' (click)="plat8('1-14', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='434.67' y='1232.89' width='200' height='94.22' alt='lot 1-15' (click)="plat8('1-15', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='435.56' y='1338.67' width='200.89' height='95.11' alt='lot 1-16' (click)="plat8('1-16', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='435.56' y='1449.78' width='200.89' height='93.33' alt='lot 1-17' (click)="plat8('1-17', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='435.56' y='1555.56' width='201.78' height='95.11' alt='lot 1-18' (click)="plat8('1-18', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='436.44' y='1664' width='200.89' height='165.33' alt='lot 1-19' (click)="plat8('1-19', 1500)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='6.22' y='1347.56' width='120' height='170.67' alt='lot 2-1' (click)="plat8('2-1', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='137.78' y='1349.33' width='118.22' height='170.67' alt='lot 2-2' (click)="plat8('2-2', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='267.56' y='1347.56' width='121.78' height='172.44' alt='lot 2-3' (click)="plat8('2-3', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='176.89' y='1531.56' width='213.33' height='90.67' alt='lot 2-4' (click)="plat8('2-4', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='176' y='1638.22' width='215.11' height='92.44' alt='lot 2-5' (click)="plat8('2-5', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='177.78' y='1744' width='214.22' height='87.11' alt='lot 2-6' (click)="plat8('2-6', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='5.33' y='1689.78' width='162.67' height='142.22' alt='lot 2-7' (click)="plat8('2-7', 3000)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='7.11' y='1533.33' width='160' height='144.89' alt='lot 2-8' (click)="plat8('2-8', 3000)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='4.44' y='965.33' width='121.78' height='162.67' alt='lot 3-1' (click)="plat8('3-1', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='136' y='963.56' width='120' height='164.44' alt='lot 3-2' (click)="plat8('3-2', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='267.56' y='962.67' width='120.89' height='162.67' alt='lot 3-3' (click)="plat8('3-3', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='5.33' y='1140.44' width='120' height='161.78' alt='lot 3-4' (click)="plat8('3-4', 0)"><title>Home for sale</title></rect>
              <rect class='sold' x='136.89' y='1138.67' width='118.22' height='161.78' alt='lot 3-5' (click)="plat8('3-5', 0)"><title>SOLD</title></rect>
              <rect class='home-for-sale' x='268.44' y='1136.89' width='119.11' height='163.56' alt='lot 3-6' (click)="plat8('3-6', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='4.44' y='585.78' width='120' height='159.11' alt='lot 4-1' (click)="plat8('4-1', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='133.33' y='584.89' width='120.89' height='159.11' alt='lot 4-2' (click)="plat8('4-2', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='263.11' y='584' width='121.78' height='155.56' alt='lot 4-3' (click)="plat8('4-3', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='1.78' y='758.22' width='123.56' height='159.11' alt='lot 4-4' (click)="plat8('4-4', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='132.44' y='758.22' width='122.67' height='159.11' alt='lot 4-5' (click)="plat8('4-5', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='264' y='757.33' width='122.67' height='160.89' alt='lot 4-6' (click)="plat8('4-6', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.89' y='203.56' width='120' height='159.11' alt='lot 5-1' (click)="plat8('5-1', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='130.67' y='201.78' width='123.56' height='163.56' alt='lot 5-2' (click)="plat8('5-2', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='264' y='204.44' width='121.78' height='158.22' alt='lot 5-3' (click)="plat8('5-3', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='3.56' y='378.67' width='118.22' height='160' alt='lot 5-4' (click)="plat8('5-4', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='134.22' y='377.78' width='119.11' height='160' alt='lot 5-5' (click)="plat8('5-5', 0)"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='264' y='376' width='123.56' height='160.89' alt='lot 5-6' (click)="plat8('5-6', 0)"><title>Home for sale</title></rect>
            </svg>
          </div>
        </div>
      </div>
      <div id="plat7" class="hidden">
        <h2>Choose your homesite: <span id="lot-selection7"></span><span id="lot-price7" class="right"></span></h2>
        <div class="section">
          <div class="plat-container">
            <img  class="plat" src="/assets/images/plats/ca7.png" alt="Providence Point">
            <svg class='svg' fill='transparent' id='svg7' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 220.44 706.37'>
              <rect class='home-for-sale' x='159.7' y='662.22' width='23.11' height='43.85' alt='lot 37' (click)="plat7('37', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='sold' x='132.15' y='661.93' width='20.74' height='44.15' alt='lot 38' (click)="plat7('38', 0)" cursor="pointer"><title>SOLD</title></rect>
              <rect class='home-for-sale' x='106.67' y='661.33' width='23.7' height='45.04' alt='lot 39' (click)="plat7('39', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='81.48' y='661.63' width='23.41' height='44.15' alt='lot 40' (click)="plat7('40', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='58.67' y='660.15' width='20.74' height='45.33'alt='lot 41' (click)="plat7('41', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <polygon class='home-for-sale' points='0.3 690.67 40 660.15 51.85 667.56 51.85 705.19 0 705.19 0.3 690.67' alt='lot 42' (click)="plat7('42', 7000)" cursor="pointer"><title>Home for sale</title></polygon>
              <path class='home-for-sale' d='M33.59,697.59H73.3l-1.49,13.34L33.59,740.26Z' transform='translate(-33 -53.15)' alt='lot 43' (click)="plat7('43', 0)" cursor="pointer"><title>Home for sale</title></path>
              <rect class='home-for-sale' x='0.3' y='618.08' width='44.15' height='24.3' alt='lot 44' (click)="plat7('44', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.3' y='592.89' width='44.15' height='23.41' alt='lot 45' (click)="plat7('45', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='567.7' width='44.74' height='23.41' alt='lot 46' (click)="plat7('46', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='542.22' width='44.15' height='24' alt='lot 47' (click)="plat7('47', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='517.04' width='44.74' height='23.41' alt='lot 48' (click)="plat7('48', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.89' y='492.15' width='43.56' height='22.81' alt='lot 49' (click)="plat7('49', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.3' y='466.37' width='44.44' height='23.7' alt='lot 50' (click)="plat7('50', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.3' y='441.78' width='44.15' height='23.41' alt='lot 51' (click)="plat7('51', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='415.7' width='45.04' height='24.3' alt='lot 52' (click)="plat7('52', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='390.52' width='45.04' height='23.11' alt='lot 53' (click)="plat7('53', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='364.74' width='44.74' height='24' alt='lot 54' (click)="plat7('54', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='339.85' width='44.74' height='24' alt='lot 55' (click)="plat7('55', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='314.96' width='44.74' height='23.11' alt='lot 56' (click)="plat7('56', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='288.89' width='45.04' height='23.7' alt='lot 57' (click)="plat7('57', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.59' y='264' width='44.44' height='23.7' alt='lot 58' (click)="plat7('58', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.3' y='238.82' width='44.44' height='23.7' alt='lot 59' (click)="plat7('59', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' y='189.93' width='44.74' height='46.52' alt='lot 60' (click)="plat7('60', 10000)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.59' y='165.04' width='44.15' height='23.41' alt='lot 61' (click)="plat7('61', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.59' y='139.85' width='44.44' height='23.11' alt='lot 62' (click)="plat7('62', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <path class='home-for-sale' d='M34.19,156.26l43.25-26.37v60.74H34.19S33.89,156.56,34.19,156.26Z' transform='translate(-33 -53.15)' alt='lot 63' (click)="plat7('63', 7000)" cursor="pointer"><title>Home for sale</title></path>
              <path class='home-for-sale' d='M34.48,100.85H77.15v25.78L33.89,153.3S34.78,100.56,34.48,100.85Z' transform='translate(-33 -53.15)' alt='lot 64' (click)="plat7('64', 5000)" cursor="pointer"><title>Home for sale</title></path>
              <rect class='home-for-sale' x='0.89' y='22.22' width='43.56' height='24' alt='lot 65' (click)="plat7('65', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='0.89' width='44.15' height='20.44' alt='lot 66' (click)="plat7('66', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <path class='home-for-sale' d='M96.41,53.15h20.15V88.41l7.11,11.26L96.11,116.56S96.11,52.85,96.41,53.15Z' transform='translate(-33 -53.15)' alt='lot 67' (click)="plat7('67', 5000)" cursor="pointer"><title>Home for sale</title></path>
              <path class='home-for-sale' d='M96.41,118.93,124.26,102l14.22,22.81v29H96.41S96.7,118.93,96.41,118.93Z' transform='translate(-33 -53.15)' alt='lot 68' (click)="plat7('68', 5000)" cursor="pointer"><title>Home for sale</title></path>
              <rect class='home-for-sale' x='63.11' y='103.41' width='42.67' height='23.41' alt='lot 69' (click)="plat7('69', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='63.11' y='128.89' width='42.96' height='24.3' alt='lot 70' (click)="plat7('70', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.81' y='154.96' width='43.26' height='23.7' alt='lot 71' (click)="plat7('71', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.81' y='180.45' width='43.26' height='21.93' alt='lot 72' (click)="plat7('72', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.52' y='209.19' width='43.85' height='21.63' alt='lot 73' (click)="plat7('73', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='63.11' y='233.19' width='43.26' height='23.7' alt='lot 74' (click)="plat7('74', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.52' y='258.37' width='43.26' height='23.7' alt='lot 75' (click)="plat7('75', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.81' y='284.74' width='43.26' height='23.41' alt='lot 76' (click)="plat7('76', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='63.41' y='310.82' width='42.67' height='23.11' alt='lot 77' (click)="plat7('77', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.52' y='336.3' width='43.56' height='24' alt='lot 78' (click)="plat7('78', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.81' y='362.37' width='43.26' height='23.7' alt='lot 79' (click)="plat7('79', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.52' y='387.56' width='43.26' height='24.3' alt='lot 80' (click)="plat7('80', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.81' y='413.93' width='42.96' height='24' alt='lot 81' (click)="plat7('81', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.52' y='439.7' width='43.56' height='24.3' alt='lot 82' (click)="plat7('82', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.81' y='466.08' width='43.26' height='23.41' alt='lot 83' (click)="plat7('83', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.81' y='492.45' width='43.26' height='23.11' alt='lot 84' (click)="plat7('84', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='63.11' y='517.93' width='42.96' height='23.41' alt='lot 85' (click)="plat7('85', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='63.11' y='543.11' width='42.67' height='24' alt='lot 86' (click)="plat7('86', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='63.11' y='569.19' width='43.26' height='24.3' alt='lot 87' (click)="plat7('87', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.81' y='595.26' width='42.96' height='24' alt='lot 88' (click)="plat7('88', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='62.81' y='621.63' width='43.26' height='22.81' alt='lot 89' (click)="plat7('89', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='108.74' y='624' width='45.63' height='21.33' alt='lot 90' (click)="plat7('90', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='108.15' y='598.52' width='45.63' height='22.22' alt='lot 91' (click)="plat7('91', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='108.15' y='573.04' width='45.93' height='23.41' alt='lot 92' (click)="plat7('92', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='108.44' y='547.85' width='45.63' height='23.11' alt='lot 93' (click)="plat7('93', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='108.44' y='522.67' width='45.93' height='23.7' alt='lot 94' (click)="plat7('94', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <polygon class='sold' points='107.85 476.44 149.04 494.52 155.26 508.44 155.26 520.59 108.74 520.59 107.85 476.44' alt='lot 95' (click)="plat7('95', 8000)" cursor="pointer"><title>SOLD</title></polygon>
              <path class='home-for-sale' d='M141.44,502.93h55.12v30.81l-13,11-42.37-17.48S141.44,502,141.44,502.93Z' transform='translate(-33 -53.15)' alt='lot 96' (click)="plat7('96', 10000)" cursor="pointer"><title>Home for sale</title></path>
              <path class='home-for-sale' d='M199.52,502.63h53.92v25.78L212.26,545l-13-10.67S199.52,502,199.52,502.63Z' transform='translate(-33 -53.15)' alt='lot 97' (click)="plat7('97', 10000)" cursor="pointer"><title>Home for sale</title></path>
              <polygon class='home-for-sale' points='180.15 494.82 219.85 478.82 219.85 521.78 174.22 521.78 174.22 509.33 180.15 494.82' alt='lot 98' (click)="plat7('98', 8000)" cursor="pointer"><title>Home for sale</title></polygon>
              <rect class='home-for-sale' x='174.22' y='523.56' width='45.33' height='23.7' alt='lot 99' (click)="plat7('99', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='173.63' y='548.74' width='45.04' height='23.7' alt='lot 100' (click)="plat7('100', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='173.04' y='574.52' width='45.63' height='22.81' alt='lot 101' (click)="plat7('101', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='173.33' y='599.41' width='45.33' height='23.7' alt='lot 102' (click)="plat7('102', 0)" cursor="pointer"><title>Home for sale</title></rect>
              <rect class='home-for-sale' x='173.04' y='624.59' width='45.04' height='21.04' alt='lot 103' (click)="plat7('103', 0)" cursor="pointer"><title>Home for sale</title></rect>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <section id="model" class="hidden">
      <h2>Choose your home model:</h2>
      <div class="section">
        <label for="williamsburg" class="option"><input (click)="wModel()" class="radio" type="radio" name="model" value="williamsburg" id="williamsburg">The Williamsburg<img class="option-img" src="/assets/images/ca7/absolute value.jpg" alt="The Williamsburg"><a href="/assets/images/ca7/WilliamsburgFP.jpg" target="iframe" (click)="openFP()"><button class="option-details" type="button" name="button">View Floorplan</button></a></label>
        <label for="concord" class="option"><input (click)="cModel()" class="radio" type="radio" name="model" value="concord" id="concord">The Concord<img class="option-img" src="/assets/images/ca7/Choice.jpg" alt="The Concord"><a href="/assets/images/ca7/ConcordFP.jpg" target="iframe" (click)="openFP()"><button class="option-details" type="button" name="button">View Floorplan</button></a></label>
        <label for="richmond" class="option"><input (click)="rModel()" class="radio" type="radio" name="model" value="richmond" id="richmond">The Richmond<img class="option-img" src="/assets/images/ca7/Sundowner.jpg" alt="The Richmond"><a href="/assets/images/ca7/RichmondFP.jpg" target="iframe" (click)="openFP()"><button class="option-details" type="button" name="button">View Floorplan</button></a></label>
        <label for="deerfield" class="option"><input (click)="dModel()" class="radio" type="radio" name="model" value="deerfield" id="deerfield">The Deerfield<img class="option-img" src="/assets/images/ca7/pt-78.jpg" alt="The Deerfield"><a href="/assets/images/ca7/DeerfieldFP.jpg" target="iframe" (click)="openFP()"><button class="option-details" type="button" name="button">View Floorplan</button></a></label>
      </div>
    </section>
    <section id="trim" class="hidden">
      <h2>Choose your home trim:</h2>
      <div class="section hidden" id="williamsburg-trim">
        <label for="horizontal-stripe-williamsburg" class="option"><input (click)="trim()" class="radio" type="radio" name="williamsburg" value="horizontal stripe" id="horizontal-stripe-williamsburg">Horizontal stripe<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el1 beige blue.jpg" alt="Horizontal stripe"></label>
        <label for="gable-bracket-williamsburg" class="option"><input (click)="trim()" class="radio" type="radio" name="williamsburg" value="gable bracket" id="gable-bracket-williamsburg">Gable bracket<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el2 beige blue.jpg" alt="Gable bracket"></label>
        <label for="triple-gable-williamsburg" class="option"><input (click)="trim()" class="radio" type="radio" name="williamsburg" value="triple gable" id="triple-gable-williamsburg">Double gable<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 beige blue.jpg" alt="Double gable"></label>
      </div>
      <div class="section hidden" id="concord-trim">
        <label for="gable-bracket-concord" class="option"><input (click)="trim()" class="radio" type="radio" name="concord" value="gable bracket" id="gable-bracket-concord">Gable bracket<img class="option-img" src="/assets/images/houses/manufactured/concord/Choice Exterior Option 2.png" alt="Gable bracket"></label>
        <label for="double-gable-concord" class="option"><input (click)="trim()" class="radio" type="radio" name="concord" value="double gable" id="double-gable-concord">Double gable<img class="option-img" src="/assets/images/houses/manufactured/concord/Choice Exterior Option 1.png" alt="Double gable"></label>
      </div>
      <div class="section hidden" id="richmond-trim">
        <label for="single-gable-richmond" class="option"><input (click)="trim()" class="radio" type="radio" name="richmond" value="single gable" id="single-gable-richmond">Single gable<img class="option-img" src="/assets/images/houses/manufactured/richmond/Sundowner Exterior 1.png" alt="Gable bracket"></label>
        <label for="double-gable-richmond" class="option"><input (click)="trim()" class="radio" type="radio" name="richmond" value="double gable" id="double-gable-richmond">Double gable<img class="option-img" src="/assets/images/houses/manufactured/richmond/Sundowner Exterior 2.png" alt="Double gable"></label>
      </div>
      <div class="section hidden" id="deerfield-trim">
        <label for="single-gable-deerfield" class="option"><input (click)="trim()" class="radio" type="radio" name="deerfield" value="single gable" id="single-gable-deerfield">Single gable<img class="option-img" src="/assets/images/houses/manufactured/deerfield/PT-78 Exterior 1.jpg" alt="Gable bracket"></label>
        <label for="double-gable-deerfield" class="option"><input (click)="trim()" class="radio" type="radio" name="deerfield" value="double gable" id="double-gable-deerfield">Double gable<img class="option-img" src="/assets/images/houses/manufactured/deerfield/PT-78 Exterior 2.jpg" alt="Double gable"></label>
      </div>
    </section>
    <section id="ext-color" class="hidden">
      <h2>Choose your home colors:</h2>
      <div class="section">
        <label for="beige-blue" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="beige blue" id="beige-blue">Beige/Blue<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 beige blue-01.jpg" alt="Beige/Blue"></label>
        <label for="beige-gray" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="beige gray" id="beige-gray">Beige/Gray<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 beige gray-01.jpg" alt="Beige/Gray"></label>
        <label for="brown-green" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="brown green" id="brown-green">Brown/Green<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 brown green-01.jpg" alt="Brown/Green"></label>
        <label for="gray-red" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="gray red" id="gray-red">Gray/Red<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 gray red-01.jpg" alt="Gray/Red"></label>
        <label for="tan-brown" class="option"><input (click)="extColor()" class="radio" type="radio" name="ext-color" value="tan brown" id="tan-brown">Tan/Brown<img class="option-img" src="/assets/images/houses/manufactured/williamsburg/el3 tan brown-01.jpg" alt="Tan/Brown"></label>
      </div>
    </section>
    <section id="int-color" class="hidden">
      <h2>Choose your interior colors:</h2>
      <div class="section">
        <label for="kitchen-white" class="option"><input (click)="intColor()" class="radio" type="radio" name="int-color" value="white kitchen" id="kitchen-white">White kitchen<img class="option-img" src="/assets/images/houses/manufactured/kitchen_white.jpg" alt="white kitchen"></label>
        <label for="kitchen-dark" class="option"><input (click)="intColor()" class="radio" type="radio" name="int-color" value="dark kitchen" id="kitchen-dark">Dark kitchen<img class="option-img" src="/assets/images/houses/manufactured/kitchen_dark.jpg" alt="dark kitchen"></label>
        <label for="kitchen-light" class="option"><input (click)="intColor()" class="radio" type="radio" name="int-color" value="light kitchen" id="kitchen-light">Light kitchen<img class="option-img" src="/assets/images/houses/manufactured/kitchen_light.jpg" alt="light kitchen"></label>
      </div>
    </section>
    <section id="front-door" class="hidden">
      <h2>Upgrade your front door: <span id="door-price" class="right"></span></h2>
      <div class="section">
        <label for="standard-door" class="option"><input (click)="extDoor(0)" class="radio" type="radio" name="front-door" value="standard door" id="standard-door">Standard door<img class="option-img" src="/assets/images/houses/manufactured/standard_door.jpg" alt="standard door"></label>
        <label for="artisan-door" class="option"><input (click)="extDoor(700)" class="radio" type="radio" name="front-door" value="artisan door" id="artisan-door">Artisan door<img class="option-img" src="/assets/images/houses/manufactured/artisan_door.jpg" alt="artisan door"></label>
      </div>
    </section>
    <section id="flooring" class="hidden">
      <h2>Upgrade your bedroom floors: <span id="floor-price" class="right"></span></h2>
      <div class="section">
        <label for="carpet" class="option"><input (click)="flooring(0)" class="radio" type="radio" name="flooring" value="carpet" id="carpet">Carpet<img class="option-img" src="/assets/images/houses/manufactured/carpet.jpg" alt="carpet"></label>
        <label for="wood" class="option"><input (click)="flooring(500)" class="radio" type="radio" name="flooring" value="wood-look vinyl" id="wood">Wood-look vinyl<img class="option-img" src="/assets/images/houses/manufactured/wood_vinyl.jpg" alt="Wood-look vinly">color depends on interior color package</label>
      </div>
    </section>
    <section id="kitchen" class="hidden">
      <h2>Upgrade your kitchen:<span id="appliance-price" class="right"></span></h2>
      <div class="section">
        <label for="premium-kitchen" class="option"><input (click)="appliances(0)" class="radio" type="radio" name="appliances" value="premium kitchen" id="premium-kitchen">Premium kitchen<img class="option-img" src="/assets/images/houses/manufactured/black_appliances.jpg" alt="premium kitchen">18 cubic foot refrigerator with ice maker<br/>30" coil-top electric range<br/>Standard built-in dishwasher<br/>Microwave over range</label>
        <label for="dream-kitchen-black" class="option"><input (click)="appliances(1200)" class="radio" type="radio" name="appliances" value="dream kitchen black" id="dream-kitchen-black">Dream kitchen in black<img class="option-img" src="/assets/images/houses/manufactured/dream_kitchen_black.jpg" alt="dream kitchen in black">26 cubic foot side-by-side refrigerator with water and ice in door<br/>30" smooth-top elecric range<br/>Standard build-in dishwasher<br/>Microwave over range</label>
        <label for="dream-kitchen-steel" class="option"><input (click)="appliances(2000)" class="radio" type="radio" name="appliances" value="dream kitchen in stainless steel" id="dream-kitchen-steel">Dream kitchen in stainless steel<img class="option-img" src="/assets/images/houses/manufactured/steel_appliances.jpg" alt="dream kitchen in stainless steel">26 cubic foot side-by-side refrigerator with water and ice in door<br/>30" smooth-top elecric range<br/>Standard build-in dishwasher<br/>Microwave over range</label>
      </div>
    </section>
    <section id="sink" class="hidden">
      <h2>Choose your kitchen sink color:</h2>
      <div class="section">
        <label for="black-sink" class="option"><input (click)="sink()" class="radio" type="radio" name="sink" value="black sink" id="black-sink">Black farmhouse kitchen sink<img class="option-img" src="/assets/images/houses/manufactured/black_sink.jpg" alt="black sink"></label>
        <label for="white-sink" class="option"><input (click)="sink()" class="radio" type="radio" name="sink" value="white sink" id="white-sink">White farmhouse kitchen sink<img class="option-img" src="/assets/images/houses/manufactured/white_sink.jpg" alt="white sink"></label>
      </div>
    </section>
    <section id="insulation" class="hidden">
      <h2>Upgrade your insulation:<span id="insulation-price" class="right"></span></h2>
      <div class="section">
        <label for="standard-insulation" class="option"><input (click)="insulation(0)" class="radio" type="radio" name="insulation" value="standard insulation" id="standard-insulation"><div class="option-text">Standard insulation<hr/><br/>R-11 floor insulation<br/>R-11 wall insulation<br/>R-21 ceiling insulation</div></label>
        <label for="premium-insulation" class="option"><input (click)="insulation(1000)" class="radio" type="radio" name="insulation" value="premium insulation" id="premium-insulation"><div class="option-text">Premium insulation<hr/><br/>R-22 floor insulation<br/>R-11 wall insulation<br/>R-33 ceiling insulation</div></label>
      </div>
    </section>
    <section id="garage" class="hidden">
      <h2>Add a garage:<span id="garage-price" class="right"></span></h2>
      <div class="section">
        <label for="no-garage" class="option"><input (click)="garage(0)" class="radio" type="radio" name="garage" value="no garage" id="no-garage"><div class="option-text">No garage</div></label>
        <label for="incl-garage" class="option"><input (click)="garage(15000)" class="radio" type="radio" name="garage" value="including garage" id="incl-garage">Garage<img class="option-img" src="/assets/images/houses/manufactured/garage.jpg" alt="garage">24' x 41'<br/>Two garage doors<br/>One pedestrian door<br/>Two windows</label>
      </div>
    </section>
    <section id="shed" class="hidden">
      <h2>Add a shed:<span id="shed-price" class="right"></span></h2>
      <div class="section">
        <label for="no-shed" class="option"><input (click)="shed(0)" class="radio" type="radio" name="shed" value="no shed" id="no-shed"><div class="option-text">No shed</div></label>
        <label for="incl-shed" class="option"><input (click)="shed(3700)" class="radio" type="radio" name="shed" value="including shed" id="incl-shed">Shed<img class="option-img" src="/assets/images/houses/manufactured/shed.jpg" alt="shed">10' x 12'</label>
      </div>
    </section>
    <section id="skirt" class="hidden">
      <h2>Choose your home's skirt:</h2>
      <div class="section">
        <label for="brown-skirt" class="option"><input (click)="skirt()" class="radio" type="radio" name="skirt" value="brown skirt" id="brown-skirt">Brown faux-brick house skirt<img class="option-img" src="/assets/images/houses/manufactured/brown brick skirt.JPG" alt="brown skirt"></label>
        <label for="red-skirt" class="option"><input (click)="skirt()" class="radio" type="radio" name="skirt" value="red skirt" id="red-skirt">Red faux-brick house skirt<img class="option-img" src="/assets/images/houses/manufactured/red brick skirt.JPG" alt="red skirt"></label>
      </div>
    </section>
    <section id="deck" class="hidden">
      <h2>Upgrade your back deck:<span id="deck-price" class="right"></span></h2>
      <div class="section">
        <label for="standard-deck" class="option"><input (click)="deck(0)" class="radio" type="radio" name="deck" value="standard deck" id="standard-deck">4' x 4' standard deck<img class="option-img" src="/assets/images/houses/manufactured/small_deck.jpg" alt="standard deck"></label>
        <label for="large-deck" class="option"><input (click)="deck(1800)" class="radio" type="radio" name="deck" value="large deck" id="large-deck">12' x 12' deck<img class="option-img" src="/assets/images/houses/manufactured/large_deck.jpeg" alt="large deck"></label>
      </div>
    </section>
    <section id="yard" class="hidden">
      <h2>Upgrade your lawn:<span id="yard-price" class="right"></span></h2>
      <div class="section">
        <label for="seed" class="option"><input (click)="yard(0)" class="radio" type="radio" name="yard" value="seed" id="seed"><div class="option-text">Seeded yard around house</div></label>
        <label for="sod" class="option"><input (click)="yard(1750)" class="radio" type="radio" name="yard" value="sod" id="sod"><div class="option-text">Sod<hr/><br/>20' back yard<br/>10' side yard<br/>front to street</div></label>
        </div>
    </section>
    <section id="flower-beds" class="hidden">
      <h2>Add a flower bed:<span id="flower-price" class="right"></span></h2>
      <div class="section">
        <label for="no-flowers" class="option"><input (click)="flower(0)" class="radio" type="radio" name="flower" value="no flowers" id="no-flowers"><div class="option-text">No flower bed</div></label>
        <label for="incl-flowers" class="option"><input (click)="flower(3750)" class="radio" type="radio" name="flower" value="including flower bed" id="incl-flowers">Flower bed<img class="option-img" src="/assets/images/houses/manufactured/flowers.jpg" alt="flower bed">Both sides of front steps<br/>includes plants, 2 trees, and stone borders</label>
      </div>
    </section>
    <section id="sprinkler" class="hidden">
      <h2>Add a sprinkler system:<span id="sprinkler-price" class="right"></span></h2>
      <div class="section">
        <label for="no-sprinkler" class="option"><input (click)="sprinkler(0)" class="radio" type="radio" name="sprinkler" value="no sprinkler" id="no-sprinkler"><div class="option-text">No sprinkler</div></label>
        <label for="incl-sprinkler" class="option"><input (click)="sprinkler(3500)" class="radio" type="radio" name="sprinkler" value="incl sprinkler" id="incl-sprinkler"><div class="option-text">Sprinkler system</div></label>
      </div>
    </section>

    <section id="result">
      <h2 id="total">Total: <span></span></h2>
      <div class="centered">
        <p class="hidden" id="end">Submit your custom home and Jose will follow up with you.</p>
        <button type="submit" name="button" id="submit" disabled="true">Submit</button>
      </div>
    </section>
  </form>


  <div class="iframe-container" (click)="display= false;" *ngIf="display">
    <div class="iframe" id="iframe">
      <button name="close" (click)="display= false;" class="iframe-button">x</button>
      <iframe name="iframe" scrolling="no" onload="var f = this.contentWindow.document.body.scrollHeight; this.height=f+'px';"></iframe>
    </div>
  </div>

</div>
