<div class="page">
  <div class="page-header">
    <div class="page-header-content">
      <h1>About</h1>
    </div>
  </div>
  <div class="content-container">
    <div class="content-section-header">
      <p>
        Cope Equities, LLC is an experienced and successful DFW land development company.  We specialize in the acquisition and development of highly desirable parcels of residential and commercial land throughout the DFW metroplex.
      </p>
      <h2>
        Meet the Team
      </h2>
    </div>
    <div class="box-container">
      <div class="individual-container" *ngFor="let person of persons">
        <img class="individual" src="{{person.ImageLink}}" alt="{{person.Name}}">
        <div class="individual-description">
          <h2>{{person.Name}}</h2>
          <h3>{{person.Title}}</h3>
          <div class="individual-info">
            <p>{{person.Description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
