.page-header {
  background-image: url('/assets/images/neighborhood.jpg');
}
.map-container {
  display: block;
  width: 100%;
  overflow-x: hidden;
}
.map {
  width: 100%;
  height: 600px;
}
img {
  position: relative;
  height: 200px;
}
.overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  background-color: transparent;
}
h3 {
  line-height: normal;
}
