<div class="page">
  <div class="page-header">
    <div class="page-header-content">
      <h1>Cope Additions</h1>
    </div>
  </div>
  <div class="content-container">
    <div class="non-row" *ngFor="let project of projects$ | async">
      <a [routerLink]="['/cope-additions', project.id]">
        <div class="tombstone">
          <div class="picture" [style]="projectStyle(project)">
          </div>
          <div class="details">
            <h2 class="details-text">{{project.Title}}</h2>
            <p class="details-text">{{project.SaleStatus}}</p>
            <p class="details-text" [innerHTML]="summaryHTML(project)"></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="map-container">
    <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1UCoFUVlrDk2vQk4tRC5vDe4mTR9rHq2z&hl=en" width="640" height="480"></iframe>
  </div>
</div>
