.content-container {
  box-shadow: 0px 0px 7px black;
  padding: 2vh 1vw;
}
.tombstone {
  height: 41vh;
  width: 20vw;
  margin-bottom: 2vh;
}
.picture {
  margin: 0px;
  height: 20vh;
  background-size: cover;
  background-position: center;
}
.details {
  height: 17vh;
  display: block;
}
.details h2, .details p {
  cursor: pointer;
  text-align: left;
  line-height: 3vh;
}
h2 {
  font-size: 1.5vw;
}
p {
  font-size: 1vw;
}
.non-row {
  display: inline-block;
}
.map-container {
  display: block;
  width: 100%;
  overflow-x: hidden;
}
.map {
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .tombstone {
    width: 90vw;
  }
  h2 {
    font-size: 4vh;
  }
  p {
    font-size: 3vh;
  }
}
