.page-header {
  background-image: url('/assets/images/Dallas.jpg');
}
.map-container {
  width: 640px;
  max-width: 95%;
  margin: auto 5%;
  float: right;
}
.map {
  max-width: 100%;
}
.contact-info {
  float: left;
  text-align: left;
  margin-left: 5%;
}
.contact-info a {
  color: lightblue;
}
