<div class="page">
  <div class="page-header">
    <div class="page-header-content">
      <h1>Contact Us</h1>
    </div>
  </div>
  <div class="content-container">
    <div class="content-section-header">
      <h2>
        Get in touch
      </h2>
      <div class="contact-info">
        <p>Office location:</p>
        <p>900 W. Bethany Drive</p>
        <p>Suite 230</p>
        <p>Allen, Texas 75013</p>
        <br/>
        <p>Phone: <a href="tel:+1-972-908-2673">972.908.2673</a></p>
        <p>Email: <a href="mailto:info@copedfw.com">info at CopeDFW.com</a></p>
      </div>
      <div class="map-container">
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1xfneqDU9KCzPmOgJl-78pKBshKjUkHpP&hl=en" width="640" height="480"></iframe>
      </div>
    </div>
  </div>
</div>
