<!-- This container holds the background color -->
<div class="page" *ngIf="project$ | async as project">
  <div class="page-header">
      <div class="addition-title"><h1>{{project.Title}}</h1></div>
  </div>
<!-- This container holds everything below the header -->
  <div class="contents-container">

<!-- First row cointaining slider -->
    <div class="row odd">
<!-- This is the image and slider container; css for this is in styles.css because it's also used in the popup -->
        <div class="image-slider">
<!-- This is the default image/video which is removed when another image is selected -->
          <div [innerHTML]="imageHTML(project)" *ngIf="first" class="large-image" ></div>
<!-- This is where the non-default images appear, removing the default -->
          <div class="large-image" *ngIf="selectedImage">
            <a href="{{selectedImage}}" target="_self" class="large-image">
              <h1 class="large-title">{{imageTitle}}</h1>
              <img src="{{selectedImage}}" alt="{{selectedImage}}" class="large-image">
            </a>
          </div>
<!-- This is the small scroller -->
          <div class="thumbnails">
            <div class="scroller">
<!-- This is the first image, which attaches to the default image -->
              <div class="small-image">
                <img src="{{project.DefaultImage}}" alt="{{project.DefaultImage}}" (click)="defaultSelect()">
              </div>
<!-- This is the selector for images -->
              <div class="small-image" *ngFor="let image of project.Images">
                <img src="{{image[0]}}" alt="{{image[1]}}" title="{{image[1]}}"(click)="toggleSelect(image)">
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- tombstone section -->
    <div class="row even">
<!-- logo and description -->
      <div class="tombstone">
        <div class="picture" [style]="logoStyle(project)">
        </div>
        <div class="details">
          <p class="details-text">{{project.Details}}</p>
        </div>
      </div>
<!-- plat map -->
      <div class="tombstone">
        <div class="plat-map">
          <div [style]="svgStyle(project)" [innerHTML]="svgHTML(project)" (click)="openLot()"></div>
          <img class="plat-image" src="{{project.Plat}}" alt="plat map">
        </div>
        <div class="{{project.Click}}">
          <p>Click on lots in plat for details</p>
        </div>
      </div>
<!-- contact -->
      <div class="tombstone">
        <div class="picture" [style]="contactStyle(project)">
        </div>
        <div class="details">
          <div class="details-text">
            <h3 style="margin-top: 0px;">{{project.ContactName}}</h3>
            <p><a href="tel:{{project.ContactPhone}}">{{project.ContactPhone}}</a></p>
            <p><a href="mailto:{{project.ContactEmail}}?subject={{project.Title}}">{{project.ContactEmail}}</a></p>
            <br/>
            <p><a href="https://aemtexas.com" style="color:maroon;">Get a mortgage with<br/>American Equities Mortgage</a></p>
          </div>
        </div>
      </div>
    </div>
<!-- map -->
    <div class="row">
      <iframe class="map" [src]="mapURL(project)"></iframe>
    </div>
  </div>

  <div class="iframe-container" (click)="display= false;" *ngIf="display">
    <div class="iframe" id="iframe">
      <button name="close" (click)="display= false;" class="iframe-button">x</button>
      <iframe name="iframe" scrolling="no" onload="var f = this.contentWindow.document.body.scrollHeight; this.height=f+'px';"></iframe>
    </div>
  </div>

</div>
