html {
  height: 100%;
  position: relative;
}
body {
  margin: 0px;
  background-color: silver;
  height: 100%;
}
h2 {
  font-size: 2.5vw;
  cursor: default;
}
h3 {
  font-size: 2vh;
  line-height: .25em;
  cursor: default;
}
h4 {
  font-size: 1.5vh;
  cursor: default;
}
img {
  position: relative;
}
p {
  font-size: 3vh;
  cursor: default;
}
li {
  cursor: default;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: lightgray;
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
#backgroundVideo {
  overflow: hidden;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page {
  background: linear-gradient(to left top, #cccccc, #888888, #cccccc);
  display: flow-root;
}
.page-header {
  width: 100%;
  position: relative;
  height: 40vh;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header-content {
    position: absolute;
    z-index: 4;
    text-align: center;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 5px 5px 7px black;
}
.page-header-content h1 {
  font-size: 10vh;
  display: inline-block;
  vertical-align: top;
  margin-top: 12vh;
  margin-bottom: 5vh;
}
.page-header-content p {
  font-size: 3vh;
  line-height: normal;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin-top: 0px;
}
.addition-header-content {
  z-index: 4;
  text-shadow: 5px 5px 7px black;
  display: inline-block;
  font-size: 4vh;
}
.addition-header-content h1 {
  display: inline-block;
  vertical-align: top;
  margin-top: 17.5vh;
}
.addition-logo {
  height: 20vh;
  margin: 13.5vh 10vh 6.5vh 10vh;
  display: inline-block;
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, .5));
}
.divider {
  background: linear-gradient(#2F4C9C, #1D3580, #2F4C9C);
  height: 12vh;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .5);
  text-align: center;
}
.divider h2 {
  color: white;
  margin-bottom: 1vh;
  margin-top: 0px;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, .5);
}
.divider button {
  border-radius: 10px;
  font-size: 3vh;
  width: 25vh;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .5);
}
.page-overlay {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  margin-top: 0px;
  width: 100%;
}
.content-container {
  padding-bottom: 2%;
  text-align: center;
  display: block;
}
.content-section-header {
  color: white;
  text-shadow: 3px 3px 5px black;
  margin: 50px 0px;
}
.box-container {
}
.box-container img {
  transition: .5s ease;
}
.individual-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: auto 3px;
}
.individual {
  width: 27vw;
  max-width: 100%;
}
.individual-description {
  width: 27vw;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 4px 4px 5px black;
  transition: .5s ease;
}
.individual-info {
  width: 27vw;
  max-width: 95%;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 0px;
  transition: .5s ease;
}
.individual-container:hover .individual-info {
  opacity: 1;
}
.individual-container:hover .individual-description {
  background-color: rgba(29, 53, 158, .8);
  height: 100%;
}
.individual-container:hover img {
  transform: scale(1.5);
}
.background-container {
  height: 100%;
}
.background {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.overlay {
  position: absolute;
  z-index: 3;
  max-width: 100%;
  max-height: 80%;
  background-color: transparent;
  pointer-events: none;
}
.container-left, .container-right, .iframe-container-left, .iframe-container-right {
  margin: 3%;
}
.container-left {
  float: left;
  width: 23%;
}
.iframe-container-left {
  float: left;
  width: 44%;
}
.container-left h2 {
  margin-bottom: 0px;
}
.container-left-middle {
  font-size: 3vh;
}
.container-left-top li {
  font-size: 4vh;
}
.container-left-middle img {
  width: 50%;
  float: right;
}
.container-left-bottom img {
  border-radius: 50%;
  width: 90%;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .5);
}
.container-left-bottom {
  margin-bottom: 3vh;
}
.container-right {
  float: right;
  width: 64%;
}
.iframe-container-right {
  float: right;
  width: 44%;
}
.container-right-top {
  height: 75vh;
  margin-bottom: 3%;
  position: relative;
}
.large-image {
  max-width: 100%;
  max-height: 60vh;
  text-align: center;
}
.container-right-top-bottom {
  display: inline;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
}
.scroller {
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
  bottom: 0;
  position: absolute;
  max-width: 100%;
  width: 100%;
  padding: 0px;
  text-align: center;
}
.small-image {
  height: 10vh;
  margin-right: 1vw;
  margin-top: 2vh;
  display: inline-block;
  max-width: 150px;
}
.small-image img {
  height: 100%;
  max-width: 150px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .5);
  cursor: pointer;
}
.container-right-bottom-right {
  width: 47%;
  display: inline-block;
  float: right;
}
.map {
  top: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, .5);
}
.container-right-bottom-left {
  width: 47%;
  display: inline-block;
  float: left;
}
.container-right-bottom-left img {
  width: 100%;
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, .5));
}
.container-right-bottom-left p {
  top: 0;
  text-align: center;
  margin-bottom: -40px;
  position: relative;
  z-index: 4;
  font-size: 4vw;
}
.show {
  display: inherit;
  margin-top: 0px;
}
.hide {
  display: none;
}
a {
  cursor: pointer;
}
a button {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.home-for-sale:hover, .lot-for-sale:hover {
  fill: rgba(255,255,255,0.5);
}
.sold:hover {
}
.iframe-container {
  width: 100vw;
  height: 100vw;
  position: absolute;
  z-index: 4;
}
.iframe {
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  position: fixed;
  z-index: 5;
}
.iframe iframe {
  width: 50vw;
}
.iframe button {
  height: 4vh;
  width: 3vw;
  margin: .5vh;
  top: 0;
  right: 0;
  position: absolute;
}

@media only screen and (max-width: 1023px) {
  .info-button {
    margin-bottom: 30%;
  }
  h1 {
    font-size: 5vh;
    margin-top: 0px !important;
  }
  h2 {
    font-size: 4vh;
  }
  .page-header {
    height: 60vh;
  }
  .addition-logo {
    height: 15vh;
    margin-bottom: 0px;
  }
  .addition-header-content {
    text-align: center;
  }
  .contents-container {
    display: block;
  }
  .container-left, .container-right, .container-right-top, .container-right-bottom-left, .container-right-bottom-right {
    width: 96%;
    float: none;
  }
  .container-left-bottom {
    padding-bottom: 15vh;
  }
  .container-right-top {
    height: 45vh;
  }
  .large-image {
    height: 30vh;
  }
  #svg1 {
    width: 83vw;
    margin-top: 5vh;
    margin-left: 5vw;
  }
  #svg2 {
    width: 85.5vw;
    margin-top: 4vh;
    margin-left: 1vw;
  }
  #svg3 {
    width: 82.5vw;
    margin-top: 4.75vh;
    margin-left: 2vw;
  }
  #svg4 {
    width: 48vw;
    margin-top: .5vh;
    margin-left: 1vw;
  }
  #svg5 {
    width: 100vw;
    margin-top: -.15vh;
    margin-left: -3vw;
  }
  #svg7 {
    width: 68.75vw;
    margin-top: 3vh;
    margin-left: 8vw;
  }
  #svg8 {
    width: 79vw;
    margin-top: 2.5vh;
    margin-left: 6vw;
  }
  #svg9 {
    width: 85vw;
    margin-top: 31vh;
    margin-left: 3vw;
  }
  .individual-container, .individual, .individual-description {
    width: 94vw;
  }
}
